$purple: #6a5df8;
$purple-light: #e4e9f7;
$gray: #85807f;
$dark-gray: #3a3736;

#navbar-container {
  width: 100%;
  background-color: $purple;
  height: 126px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: start;
  font-family: 'Poppins', sans-serif;
}

#navbar-calender-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 126px;
  width: 30%;
  gap: 16px;
  color: $gray;
}

#navbar-calender {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#navbar-calender h1 {
  font-size: 22px;
  font-weight: 600;
}

#navbar-calender h2 {
  font-style: italic;
  font-size: 14px;
}

#navbar-calender-container i {
  font-size: 30px;
}
